details {
    font: 16px "Inter", sans-serif;
    max-width: 730px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 8px;
}

details > summary {
    display: flex;
    justify-content: space-between;
    /*margin: 24px 32px;*/
    padding: 24px 32px;
    cursor: pointer;
    list-style: none;
}

details > p {
    /*margin: 16px 32px 32px;*/
    padding: 0 32px 32px;
}

.accordion__summary::-webkit-details-marker {
    /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

details > summary::after {
    /*content: url("./assets/images/Vector.png");*/
    content: '+';
}

details[open] > summary::after {
    /*content: url("assets/images/Vector.png");*/
    content: '-';
}