.skeleton {
    width: 579px;
    height: 192px;
}

.skeleton__card {
    display: flex;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
    row-gap: 24px;
    padding: 3%;
}

.skeleton__header {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 3%;
    width: 100%;
}

.skeleton__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
    width: 80%;
}

.skeleton__title .skeleton__line:nth-child(1) {
    width: 50%
}

.skeleton__title .skeleton__line:nth-child(2) {
    width: 70%
}

.skeleton__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    width: 100%;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 100px;
}

.skeleton__line {
    background: var(--grey-gradient);
    height: 20px;
}

